
a {
	color:black;
}

/*#main {
	width:100%;
	height:100%;
}*/

#pic {
	margin:5px;
	padding:5px;
	width: 15%;
	display:block;
}

.signal {
    border: 5px solid #333;
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: 5%;
    width: 30px;
 
    animation: pulsate .75s ease-out;
    animation-iteration-count: 20;
}

@keyframes pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}

#iframe-con {
	display;block;
	width:100%;
}

#saveLocbtn:hover {
	cursor:pointer;
}

#prevsaved {
/*	height:100%;
	width:10%;*/
	background-color: black;
	color:white;
}

.locline {
	display:block;
}

.search-sides {
	width:33%;
}

#loc {
  padding: 10px;
  /*border: solid 10px #fff;*/
  /*box-shadow: inset 1px 1px 2px 0 #707070;*/
  transition: box-shadow 0.3s;
  background-color: black;
  background-color: white;
  color: black;
  width: 15%;
  display:block;
  margin: auto;
  text-align: center
}

#loc:hover {
	cursor: cell;
	background-color:black;
	color: white;
}

#locSearch {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  /*background-color: #2F2F2F;*/
  background-color: black;
  color: white;
  width: 50%;
  display:block;
  margin: auto;
}

#tables {
	/*display:inline-block;*/
	/*width:50%;*/
	margin:auto;
}

table {
	background: black;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 40%;
	color: white;
}	

th {
	text-align: center;
	background: black;
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

#directions, #clear {
	display: none;
}

#savtable:hover #directions {
	display: block;
}

#rectable:hover #clear {
	display: block;
	text-align: center;
	margin:auto;
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	font-style: bold;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: white;
	text-shadow: 0 1px 0 #fff;
}

#ds {
	width:40%;
	/*display:inline-block;*/
	float:left;
	padding:20px;
}

#google {
	width:40%;
	/*display: inline-block;*/
	float:right;
	padding:20px;
}

.links {
	display:block;
}

.logo {
	display:block;
}
