* {
	box-sizing: border-box;
}

body {
	background-color: #f7f7f7;
	margin:0;
}

a {
	color:#333333;
	display: block;
}

img {
  filter: gray; 
  filter: grayscale(1); 
  -webkit-filter: grayscale(1);
}

button {
	outline:none;
	padding:3px;
	background-color:#f7f7f7;
	border:2px solid #333333;
	border-radius:20%;
}

button:hover {
	cursor:pointer;
}

/*#main {
	width:100%;
	height:100%;
}*/

#headhead {
	height:2px;
	background-color: #333333
}

#head {
	margin:0 0 1% 0;
}

#pic {
	height:40px;
	margin:10px 0 0 10px;
}

#loading {
	text-align: center;
}

#top-container {
	overflow:hidden;
}

#button-container {
	float:left;
	width:24%;
	/*text-align: right;*/
	margin:0 0 0 1%;
}

#prevsaved {
	background-color: #333333;
	color:white;
}

#search-container {
	float:left;
	width:50%;
}

#locSearch {
  outline:none;
  font-size:16px;
  /*padding: 4px;*/
  /*border: solid 1px #333333;*/
  /*box-shadow: inset 1px 1px 2px 0 #707070;*/
  /*transition: box-shadow 0.3s;*/
  background-color: #f7f7f7;
  /*color: white;*/
  width: 63%;
  display:block;
  margin: auto;
}

#loc {
	display:block;
	margin:2px auto;
}

#bottom-container {
	overflow: hidden;
}

#tables {
	float:left;
	width:50%;
}

table {
	background: #333333;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 12px;
	margin: 8px auto;
	text-align: left;
	width: 67%;
	color: white;
}	

th {
	text-align: center;
	background: #333333;
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 8px 8px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	/*content: '';*/
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 8px 8px;
	position: relative;
	transition: all 300ms;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: white;
	text-shadow: 0 1px 0 #fff;
}

#ds {
	width:24%;
	/*padding:10px;*/
	margin:2% 0 0 1%;
	float:left;
}

#ds img {
	height: 36px;
}

#google {
	width:24%;
	/*padding:10px;*/
	float:right;
	margin:2% 1% 0 0;
}

#inner-google {
	text-align: right;
}

#google-image {
	height:36px;
	position:relative;
}

#google-image img {
	bottom:7px;
	right:0;
	position:absolute;
}

.bottom {
	height:20px;
	background-color: #333333;
	margin: 0 0 5px 0;
}

.bottom:hover {
	cursor:help;
}
