body {
	color:#333333;
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-size:1em;
}

a {
	color:#333333;
}

img {
  filter: gray; 
  filter: grayscale(1); 
  -webkit-filter: grayscale(1);
}

button:hover {
	cursor:pointer;
}

#headpic {
	height:40px;
	padding:10px 0 0 10px;
}

#loadframe {
	height:245px;
}

#forecast_embed {
	border-bottom:3px solid #333333;
}

#framecon {
	text-align: center;
}

#intercontainer {
	display:grid;
	grid-template-columns:1fr 2fr 1fr;
	margin-top:10px;
	height:100px;
}

#prevsaved {
	background-color: #333333;
	color:#f7f7f7;
}

#locSearch {
  border: solid 1px #333333;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  outline:none;
  font-size:16px;
  background-color: #f7f7f7; 
  width:50%;
  padding-left:5px;;
}

#ds {
	margin-left:10px;
}

#ds img {
	height: 36px;
}

#google {
	margin-right:10px;
	text-align:right;
}

/*#svgcon {
	position:relative;
}

#svglink {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}*/

#google img {
	height:18px;
}

#tables {
	font-size:.5em;
	border:1px solid black;
}

#pictop {
	border-top:10px solid #333333;
	border-bottom:10px solid #333333;
}

.stormy {
	animation: stormy 5s ease-in-out infinite;
	background: #222222;
	border-radius: 50%;
	box-shadow: 
		#222222 65px -15px 0 -5px, 
		#222222 25px -25px, 
		#222222 30px 10px, 
		#222222 60px 15px 0 -10px, 
		#222222 85px 5px 0 -5px;
	height: 50px;  
	width: 50px; 
/*	margin-left: -70px; 
	position: absolute;
	left: 947px; 
	top: 70px; */

	margin-left:45%;;
}
.stormy:after {
	animation: stormy_shadow 5s ease-in-out infinite;
	background: #000;
	border-radius: 50%;
	content: '';
	height: 15px; 
	width: 120px; 
	opacity: 0.2;
	position: absolute;
	left: 5px; 
	bottom: -60px;
	transform: scale(1);
}
.stormy:before {
	animation: stormy_thunder 2s steps(1, end) infinite; 
	border-left: 0px solid transparent;
	border-right: 7px solid transparent;
	border-top: 43px solid yellow; 
	box-shadow: yellow -7px -32px;
	content: '';
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	left: 57px;
	top: 70px;
	transform: rotate(14deg);
	transform-origin: 50% -60px;
}
@keyframes stormy {
	50% { transform: translateY(-20px); } 
}  
@keyframes stormy_shadow {
	50% { transform: translateY(20px) scale(.7); opacity: 0.05; }
}
@keyframes stormy_thunder {
	0%  { transform: rotate(20deg); opacity:1; }
	5%  { transform: rotate(-34deg); opacity:1; }
	10% { transform: rotate(0deg); opacity:1; }
	15% { transform: rotate(-34deg); opacity:0; }
}
