body {
	color:#333333;
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-size:1em;
	font-family:Helvetica;
}
img {
  filter: gray; 
  filter: grayscale(1); 
  -webkit-filter: grayscale(1);
}
button {
  border-radius:10%;
}
button:hover {
	cursor:pointer;
}
input {
	box-sizing:border-box;
}
p {
	margin:0;
}
#root {
  margin:30px 0px 10em 0px;
}
#loadframe {
	height:245px;
	width:100%;
}
#framecon {
	text-align: center;
	height:100%;
}
#intercontainer {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	margin-top:10px;
}
#locSearch {
  border: solid 1px #333333;
  box-shadow: inset 1px 1px 2px 0 #707070;
  outline:none;
  font-size:16px;
  background-color: #f7f7f7; 
  width:90%;
  padding-left:5px;
}
.btncon {
	margin:10px auto 10px auto;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:1%;
	width:90%;
}
.midbuttons {
	background-color: #f7f7f7;
  border-radius:10%;
  border:1px solid #333333;
  padding:5px;
}
#prevsaved {
	background-color: #333333;
	color:#f7f7f7;
}
#ds {
	margin-left:10px;
}
#ds img {
	height: 36px;
}
#google {
	margin-right:10px;
	text-align:right;
}
#google img {
	height:18px;
}
.links {
	color:#333333;
	font-weight:bold;
	font-style:italic;
}
#tables {
	grid-template-columns:1fr 1fr;
	margin:0 3px% 0 3px;
}
.table {
	background:#333333;
	color:#f7f7f7;
	padding:1% 1% 0 1%;
	margin:auto;
}
.thead {
	text-align:center;
	font-weight:bold;
	height:2em;
	border-bottom:3px solid #f7f7f7;
}
.place {
	padding:1%;
	border-bottom:1px solid #f7f7f7;
}
.place:hover {
	color:#333333;
	background:#f7f7f7;
	opacity:.75;
	cursor:pointer;
}
#pictop {
	height:1vw;
}
